<h2>Current discounts by portal:</h2>
<table id="offerTable" class="display table table-striped table-bordered" width="100%">
<thead>
    <tr>
        <th>Portal</th>
        <th>Reward</th>
        <th>Equivalent Percentage</th>
    </tr>
</thead>
<tbody>
{{#each offer in model}}
    {{view 'stores/offer' contentBinding='offer'}}
{{/each}}
</tbody>
</table>