<div class="jumbotron" style="text-align:center">
  <div class="container">
    <h2>Shop. RewardYour$elf. Travel. Repeat.</h2>
    <p>We aggregate deals and show their valuation so you can get the best return!</p>
    <p>
    	<img src="assets/images/RewardYourself_funnel.png" style="width:100%">
    </p>
	<p>
		<a class="btn btn-primary btn-lg" href="#" role="button">Login</a>
		<a class="btn btn-primary btn-lg" href="#" role="button">Sign Up</a>
	<p>
  </div>
</div>
{{view 'offers/top'}}
{{outlet}}