<h1 style="text-align:center;">Think in Points, Dream in Miles</h1>
<h3 style="text-align:center;">RewardYour$elf is here to clarify promises and improve expectations</h2>
<hr class="featurette-header"></hr>
<div class="panel panel-default">
  <div class="panel-heading">
	<h3 class="panel-title">What's in <i>your</i> wallet?</h3>
  </div>
  <div class="panel-body">
  	<div class="col-xs-12 col-sm-6" style="float:right;">
		<img style="width:100%" src="assets/images/Amazon_redemption.png">
		<p style="text-align:center">Looks so good until you read the Terms and Conditions</p>
  	</div>
  	<div class="col-xs-12 col-sm-6" style="float:left;">
		<p><strong>Most credit cards with point-based systems give you 1% back</strong><p>
		<ul>
			<li>You can earn multiple points on certain purchases</li>
			<li>Redeeming for travel, gift cards, or cash back give the point valuation at 1 cent</li>
			<li>Best used for category spending</li>
		</ul>
		<p><strong>Certain credit cards and loyalty programs allow point transfer</strong></p>
		<ul>
			<li>Some offer a bonus when converting a specific number of points</li>
			<li>A different loyalty program may have better perks, such as lower redemption rates</li>
		</ul>
	</div>
  </div>
</div>
<hr class="featurette-header"></hr>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Double Dip and Pull Hard</h3>
	</div>
	<div class="panel-body">
		<div class="col-xs-12 col-md-6" style="float:left;">
			<img style="width:100%" src="assets/images/Chase_bonus_point.png">
			<p style="text-align:center;">...assuming you only get 1 point per dollar on the credit card used</p>
		</div>
		<div class="col-xs-12 col-md-6" style="float:right;">
			<p><strong>Leverage your redemption by accruing additional rewards through affiliate shopping portals -- <i>independent of credit card loyalty programs</i></strong></p>
			<ul>
				<li>Buying clothes through Amazon.com? Click through Ebates but use your Amazon.com-branded VISA
					<ul>
						<li class="muted">You just earned 3% cash back through Ebates and 3% back in Amazon Rewards points... on the same purchase</li>
					</ul>
				</li>
				<li>Maximize the value of a point on redemption
					<ul>
						<li class="muted">Award Travel typically has more flexible terms than paid travel</li>
						<li class="muted">A $450 flight to Panama City, Panama can be purchased with 17,500 United MileagePlus miles</li>
						<ul>
							<li class="muted">If these miles are earned with an average gain of 3% the total return is <strong>7.7%</strong></li>
						</ul>
					</ul>
				</li>
				<li>Use "Cash+Points" rates to decrease out-of-pocket costs</li>
			</ul>
		</div>
	</div>
</div>
<hr class="featurette-header"></hr>
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Beyond Planes, Trains and Automobiles</h3>
	</div>
	<div class="panel-body">
		<p><strong>Travel redemptions described above can yield the highest return, but are not for everyone</strong></p>
		<ul>
			<li>Double dip, but cash out</li>
			<li>Redeem indirectly through programs like UPromise</li>
		</ul>
	</div>
</div>