<div class="featurette">
	<h2 class="featurette-heading" style="text-align:center">Top Offers:</h2>
	{{top-deals heading="Online" items=model.online}}
	{{top-deals heading="Gift Card" items=model.giftcard}}
</div>