<h2>Listing of current discounts by portal:</h2>
<table id="offerTable" class="display" width="100%">
<thead>
    <tr>
        <th>Portal</th>
        <th>Reward</th>
        <th>Equivalent Percentage</th>
    </tr>
</thead>
<tbody>
{{#each offer in model}}
    {{view 'offers/offer' contentBinding='offer'}}
{{/each}}
</tbody>
</table>

{{view 'offers/trends'}}