        <div role="main" class="ui-content">
                <ul id="storeList" data-role="listview" data-filter="true"
                        data-filter-placeholder="Search stores..." data-inset="true"
                        data-filter-reveal="false">
                                    <!-- loop through each merchant in array -->
                <!--
                                <c:forEach var="merchant" items="${orderedMerchant}">
                                        <li>
                                         <div data-role="collapsible" data-inset="false" data-collapsed-icon="arrow-r" data-expanded-icon="arrow-d" 
                                         class="RewardYourself-store" mkey="<c:out value="${merchant.mkey}"/>">
                                                <h4><c:out value="${merchant.name}"/></h4>
                                         </div>
                                        </li>
                                </c:forEach> -->
                        </ul>
                </div>

{{outlet}}
